@import url(https://fonts.googleapis.com/css?family=Montserrat);

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  > section {
    margin: 0 auto;
    padding: 10em 3em;
    text-align: center;
  }
}

nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    color: #fff;
    text-decoration: none; // remove underline
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.35em;
}
.color-1 {
      background: #e74c3c;
}
.color-2 {
      background: #2980b9;
}
.color-3 {
      background: #8e44ad;
}
.color-4 {
      background: #34495e;
}
.color-5 {
      background: #1abc9c;
}

.svg-wrapper {
  display: inline-block;
      margin: 0 3px;
  height: 60px;

}
#c1-effect-1 {
  /* A seen here: https://codepen.io/Zeaklous/pen/kyGqm */
  rect {
    stroke-dasharray: 140 350;
    stroke-dashoffset: -290;
    stroke-width: 8px;
    fill: transparent;
    stroke: #FFF;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .text {
    top: -60px;
    position: relative;
  }

  &.svg-wrapper:hover rect{  
    stroke-width: 2px;
    stroke-dasharray: 600;
    stroke-dashoffset: 0;
  }  
}

#c1-effect-2 {
  /* A seen here: https://codepen.io/Zeaklous/pen/kyGqm */
  rect {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    stroke-width: 8px;
    fill: transparent;
    stroke: #FFF;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .text {
    top: -60px;
    position: relative;
    margin: 0;
  }

  &.svg-wrapper:hover rect{  
    stroke-width: 2px;
    stroke-dashoffset: 0;
  }  
}

#c1-effect-3 {
  /* A seen here: https://codepen.io/Zeaklous/pen/kyGqm */
  rect {
    stroke-dasharray: 40 20 40 160;
    stroke-dashoffset: 80;
    stroke-width: 2px;
    fill: transparent;
    stroke: #FFF;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .text {
    top: -60px;
    position: relative;
  }

  &.svg-wrapper:hover rect{  
    stroke-width: 4px;
    stroke-dashoffset: 340;
    stroke-dasharray: 40 20 40 160;
  }  
}

a.c2-effect-1 {

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -2px;
    left: 0;
    background: #fff;
    visibility: hidden;  
    /*  Animate with a duration of 0.3 seconds */
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover:before{
    visibility: visible;
    width: 100%;
  }

}



// Effect from here: http://bradsknutson.com/blog/css-sliding-underline/
a.c2-effect-2 {
  padding-bottom: 2px;
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    visibility: hidden;  
    transition: width 0.5s ease, background .5s ease;
  
  }
  &:hover:before{
    visibility: visible;
    background: white;
    width: 100%;
  } 
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: white;
    /*  Animate with a duration of 0.3 seconds */
    transition: width 0.5s ease;
  }
  &:hover:after {
    background: transparent;
    width: 100%;
    transition: all 0s ease;
  }
}

// Same as the 8th effect on code drops, but a different approach
#c4-effect-1 a {
  padding: 10px;

  &:before, &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid white;
    content: '';
    transition: transform 0.6s, opacity 0.4s;
    opacity: 0.3;
  }
  
  &:after {
    opacity: 1;
    visibility: hidden;
  }
  
  &:hover {
    &:before{
      opacity: 0;
      width: 100%;
    }
    &:after {
      visibility: visible;
    }
  }  
  
  // top right
  &.top-right:after {
    top: -7px;
    left: 7px;

  }
  &.top-right:hover:after {
    transform: translateY(7px) translateX(-7px);
  }

  // bottom right
  &.bottom-right:after {
    top: 7px;
    left: 7px;
  }
  &.bottom-right:hover:after {
    transform: translateY(-7px) translateX(-7px);
  }
  
    // top left
  &.top-left:after {
    top: -7px;
    left: -7px;

  }
  &.top-left:hover:after {
    transform: translateY(7px) translateX(7px);
  }

  // bottom left
  &.bottom-left:after {
    top: 7px;
    left: -7px;
  }
  &.bottom-left:hover:after {
    transform: translateY(-7px) translateX(7px);
  }

  

}

// Same as the 8th effect on code drops, but a different approach
#c5-effect-1 a {
  padding: 10px;
  border: 1px solid white;
  overflow: hidden;

  &:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    content: '';
    background: #fff;
    opacity: 0.2;
    transition: none;
     transform: skewX(-20deg);
    visibility: hidden; 
  }
  

  &:hover:before {
    left: 110%;
    transition: left 0.5s ease; 
     visibility: visible; 
  }
  &:hover {
    border-width: 2px;
    padding: 9px;
  }

}